.hidden {
  display: none;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-nav,
.addr {
  display: none;
}

.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: auto;
  padding: 16px 0;
  display: block;
}

span {
  color: #2e2f42;
  font-weight: 700;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .list-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu {
    display: block;
    cursor: auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu.current {
    position: relative;
  }
  .menu.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .addr {
    font-style: normal;
    display: block;
  }
  .addr-line {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addr-line-info {
    display: block;
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu:hover,
  .menu:focus,
  .menu.current {
    color: #404bbf;
  }
  .addr-line-info:hover,
  .addr-line-info:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .addr-line {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .addr-line-info {
    padding: 24px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu:not(.is-open) .mobile-menu-container {
  transform: translateY(100%) scale(1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateX(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  background-color: #fff;
  line-height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
}
.mobile-menu-close:hover .icon-btn-close {
  fill: #ffffff;
}

.mobile-menu-close:focus .icon-btn-close {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.list-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-mobile {
  cursor: auto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile:hover,
.menu-mobile:focus,
.menu-mobile.current {
  color: #404bbf;
}
.addr-menu {
  display: block;
}
.addr-line-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.addr-line-info-menu {
  display: block;
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addr-line-info-menu:hover,
.addr-line-info-menu:focus {
  color: #4d5ae5;
}

.team-box-link-menu {
  display: flex;

  justify-content: flex-start;
  gap: 40px;
}

.link-menu {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box-svg {
  fill: #f4f4fd;
}
.link-menu:hover,
.link-menu:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* section effect */

.effect {
  background-color: #2e2f42;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;
  padding-top: 72px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/people-office-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .effect {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/people-office-mobile-2x.jpg);
  }
}
.effect-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.effect-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effect-btn:hover,
.effect-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .effect {
    max-width: 768px;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/laptop/people-office-laptop.jpg);
  }
  .effect-title {
    font-size: 56px;
    line-height: 1.07;
    margin-top: 0;
    max-width: 496px;
    margin-bottom: 36px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .effect {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/laptop/people-office-laptop-2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .effect {
    max-width: 1440px;
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .effect-title {
    margin-bottom: 48px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .effect {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}

@media screen and (max-width: 1157px) {
  .icon {
    display: none;
  }
}
/* section two */

.section-two {
  margin: 96px auto;
}

.section-two-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.section-two-list-item {
  width: 100%;
}

.section-two-list-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.section-two-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .section-two {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }

  .section-two-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .section-two-list-item {
    width: calc((100% - 24px) / 2);
  }
  .section-two-list-title {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .section-two-list-title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
  }

  .section-two-list-text {
    font-weight: 400;
  }

  .section-two-list-item {
    width: calc((100% - 72px) / 4);
  }
  .icon {
    display: flex;
    gap: 24px;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
  }
}

/* team */

@media screen and (max-width: 1157px) {
  .portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-img {
  margin-bottom: 32px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-box-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
  flex-shrink: 0;
}
.link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}
.link:hover {
  background-color: #404bbf;
}

.link:focus {
  background-color: #404bbf;
}

.team-box-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (max-width: 1157px) {
  .par-port {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tomb {
    position: relative;
    overflow: hidden;
  }
  .portfolio-item:hover .par-port {
    transform: translate(0);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .par-port {
    top: 0;
    width: 360px;
    padding: 40px 32px;
    height: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* footer */

.foot {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.foot-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 72px;
}
.foot-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 0;
  margin-bottom: 0;
}
.span-logo {
  color: #f4f4fd;
}
.ftext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.foot-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.foot-list-item-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-list-item-link:hover,
.foot-list-item-link:focus {
  background-color: #31d0aa;
}

.input-email-foot {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  min-width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}
.input-email-foot:focus {
  border-color: #31d0aa;
}
.input-email-foot::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #31d0aa;
}
.icon-btn-foot {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .foot-cont {
    gap: 24px;
    row-gap: 72px;
    text-align: start;
    width: 584px;
    justify-content: flex-start;
  }
  .foot-logo {
    display: block;
    text-align: start;
  }
  .form-email-foot {
    display: flex;
    gap: 24px;
  }

  .input-email-foot {
    min-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .foot {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .foot-cont {
    gap: 0px;
    row-gap: 0px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
  }
  .foot-sub {
    margin-left: auto;
  }
  .wrap-foot {
    margin-right: 120px;
  }
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 16px 24px;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  line-height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .icon-btn {
  fill: #ffffff;
}

.modal-close-btn:focus .icon-btn {
  fill: #ffffff;
}

.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 256px;
  margin-bottom: 16px;
}

.icon-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-name-text {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.icon-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.modal-input {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .icon-svg {
  fill: #4d5ae5;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-msg {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  display: block;
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-msg:focus {
  border-color: #4d5ae5;
}
.modal-msg::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-name-coment {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-cont-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-lable-user-checkbox > .custom-checkbox {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.custom-lable-user-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-text-mobile {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-submut {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submut:hover,
.modal-submut:focus {
  background-color: #404bbf;
  color: #fff;
  font-weight: 500;
  border: none;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

  .modal-subtitle {
    width: 360px;
  }
}
